*{
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #246083; 
}
::-webkit-scrollbar-thumb {
    background: #eefdfe;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0D1B26;
}
  body{
    min-height: 100vh;
    animation: gradient 1s ease infinite;
    background: linear-gradient(15deg, #0f2841, #246083);
    background-size: cover;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Cairo', sans-serif;
    background-color: transparent;
    color: #eefdfe;
  }

  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 50% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

  nav{
    position: fixed;
    width: 100%;
    transition: background-color 0.3s, box-shadow 0.3s;
    z-index: 1000;
  }

  .navbar.transparent {
    background: rgba(255, 255, 255, 0); /* Fully transparent */
    transition: background 0.3s ease; /* Smooth transition effect */
}
   .navbar.scrolled {
  background: #246083; /* Solid white background */
}
  
  
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav li{
    height: 100px;
  }
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #eefdfe;
    font-size: 20px;
    border-radius: 1000px;
    transition: background-color 0.3s ease;
  }
 
  nav a:hover{
    transform: scale(1.1);
  }
  nav li:first-child{
    margin-right: auto;
  }
  nav li:last-child{
    margin-left: auto;
  }
  
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 450px;
    background-color: transparent;
    width: 100%;
    background-color: #eefdfe;
    list-style: none;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
   
    padding-top: 20px;
  }
  .sidebar li{
    background-color: transparent;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: left;
  }
  .sidebar a{
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    background-color: #0F2841;
    margin-bottom: 20px;
    width: 100%;
    color: #eefdfe;
  }
  
  .menu-button{
    display: none; 
    
  }



  /*                                                          hero
  */

  
.section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


@keyframes fadeIn {
  0% { opacity: 0.7; }
  100% { opacity: 1; }
}
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
}
.gif {
  align-items: center;
  text-align: center;
  margin-left: 100px;
}
.gif img{
  border-radius: 20px;
  border: 10px solid #0f2841;
}
.info h1 {
  margin: 10px 100px;
  margin-right: 20px;
}
.info h3 {
  margin: 10px 100px;
}
.cta-buttons {
  margin-right: 20%;
  margin-left: 60%;
  margin-top: 10%;
}
.cta-buttons a {
  display:flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px 10px;
  color: white;
  text-decoration: none;
}

 .btn-primary {
  background-color: #0D1B26;
  border-radius: 20px;
}

.cta-buttons .btn-secondary {
  border-radius: 20px;
  background-color: #0f2841;
}

@media (max-width: 850px) {
  .info h1 {
    margin: 10px 10px;
    margin-right: 20px;
    margin-top:10px;
  }
  .info h3 {
    margin: 10px 10px;
  }
}




                                                 /* 
                                                                                                    
                                                 secondpage 
                                                 */


.secondpage {
  display: flex;
  flex-direction: row;
  min-height: 80vh;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
}
.imageabout{
  width: 100%;
}
.imageabout img{
 height: 80vh;
 margin-left: 30px;
 margin-top: 0px;
 border: 10px solid #0f2841;
 border-radius: 20px;
}
.about {
  margin-left: 100px;

}
.about h1{
  text-align: left;
  margin-bottom: 20px;
}
.about h3{
  text-align: left;
  margin-bottom: 10px;
}

 /* 
                                                                                                    
                                                 Lastpage 
                                                 */

.lastpage{
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.ressources h1, h3 {
  text-align: center;
}
.drive-icon {
  
  color: #eefdfe; /* Default icon color */
    text-decoration: none; /* Remove underline from links */
    font-size: 40px;
    margin-left: 90px;
}
.drive-icon:hover {
  color: #000; /* Change color on hover */
}
.map {
  align-items: center;
}
.map h1{
  text-align: center;
}
@media(max-width: 900px){
 .lastpage {
  display: flex;
  flex-direction: column;
 }
  }
                                                   /* 
                                                 FOOTER
*/


.footer {
  padding: 20px 0; /* Example padding */
  border-radius: 8px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}


.container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0 20px; 
  color: #eefdfe;
}

.footer-section {
  flex: 1; /* Flexibly grow to take up available space */
}

.footer-section h3 {
  text-align: center;/* Left align text */
}

.footer-section p {
  text-align: center;
  margin-right: 0px; /* Left align text */
}
.icons {
text-align: center;
}
.social-icon{
  margin-left: 15px; /* Spacing between icons */
  width : 40px;
  text-decoration: none;
  align-items:center;
  
}
.rights {
  text-align: center;
  text-decoration: none;
}
.rights a{
  text-decoration: none;
  color: #87FFD4;
}

.icons {
  text-align: center;
  }
  .social-icon {
    color: #eefdfe; /* Default icon color */
    text-decoration: none; /* Remove underline from links */
    font-size: 20px; /* Icon size */
  }
  
  .social-icon:hover {
    color: #000; /* Change color on hover */
  }


  @media(max-width: 1000px){
.hero{
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  height: auto;
}
.gif {
  margin-left: 0px;
  margin-bottom: 20px;
}
.info h1, .info h3 {
  align-items: center;
}
.secondpage {
  display: flex;
  flex-direction: column;
}
.about {
  margin-left: 10px;
}
.imageabout img{
  width: 95%;
  margin-left: 0px;
  margin-top: 20px;
}
.cta-buttons {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px;
  padding: 10px 10px;
}
.btn-primary {
  margin-left: 30px;
  margin-right: 30px;
}
  }
  @media(max-width: 1000px){
    .hideOnMobile{
      display: none;
      
    }
    .menu-button{
      display: block;
      margin-right: 30px;
    }
    .container {
      display: flex;
      flex-direction: column;
    }
    
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }

    
  
  
